<div class="main-content">
  <div class="container mt-3">
    <form name="main" class="align-items-center" method="post" action="http://localhost:3000">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Создание нового пользователя</h3>
          </div>
          <div class="table-responsive">

            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">User name</th>
                  <th scope="col">First name</th>
                  <th scope="col">Last name</th>
                  <th scope="col">Password</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input id="title-input-name" name="name" type="text" value="{{user.name}}" tabindex="1"
                      class="block w-100 no-outline no-border pad-1 mar-b-2">
                  </td>
                  <td>
                    <input id="title-input-firstName" name="firstName" type="text" value="{{user.firstName}}"
                      tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">
                  </td>
                  <td>
                    <input id="title-input-lastName" name="lastName" type="text" value="{{user.lastName}}" tabindex="1"
                      class="block w-100 no-outline no-border pad-1 mar-b-2">
                  </td>
                  <td>
                    <input id="title-input-password" name="password" type="password" value="{{user.password}}"
                      tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <input type="submit" value="Создать" tabindex="3"
          class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
      </div>
    </form>
  </div>
</div>